[submodule "src/ha_mcp/resources/skills-vendor"]
	path = src/ha_mcp/resources/skills-vendor
	url = https://github.com/homeassistant-ai/skills.git
	branch = main
[submodule "tests/haos_image_build/vendor/home-assistant-addons"]
	path = tests/haos_image_build/vendor/home-assistant-addons
	url = https://github.com/balloob/home-assistant-addons.git
	branch = main
